WebAppDinet/Connected Services/ServicioWCF/CapaEntidad.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaEntidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaEntidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FiltroInventario">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMovimiento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FiltroInventario" nillable="true" type="tns:FiltroInventario" />
  <xs:complexType name="ArrayOfMovInventario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovInventario" nillable="true" type="tns:MovInventario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovInventario" nillable="true" type="tns:ArrayOfMovInventario" />
  <xs:complexType name="MovInventario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALMACEN_DESTINO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALMACEN_VENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANTIDAD" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="COD_CIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ITEM_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANIA_VENTA_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_REF_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_REF_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_REF_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_REF_4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_REF_5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_TRANSACCION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NRO_DOCUMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVEEDOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_DOCUMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_MOVIMIENTO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovInventario" nillable="true" type="tns:MovInventario" />
</xs:schema>