WebAppDinet/Connected Services/ServicioWCF/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CapaEntidad" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapaEntidad" minOccurs="0" name="filtro" nillable="true" type="q1:FiltroInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CapaEntidad" minOccurs="0" name="ListarResult" nillable="true" type="q2:ArrayOfMovInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CapaEntidad" minOccurs="0" name="mov" nillable="true" type="q3:MovInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CapaEntidad" minOccurs="0" name="mov" nillable="true" type="q4:MovInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoMov" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nroDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>